/* inputok szélessége */
input[type=text], input[type=password] {
  border-radius: 25px;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}
h1 {
  text-shadow: 2px 2px 5px purple;
  color: pink;
}

/* Gombok */
button {
  background-color:pink;
  color: black;
  padding: 12px 28px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* card középen*/
.card{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* szélesség */
.width{
  width: 300px;
}

.profile-picture-img {
  height: 200px;
  width: 200px;
  border: solid 1px lightblue;
  border-radius: 20px;
}