<div class="container mt-5">
    <div style="text-align: center">
        <h1>Találd meg az életed párját</h1>
        <p class="lead">Ha tag vagy lépj be! Hanem akkor, ... pedig csak annyit kell tenned, hogy regisztrálsz!</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Regisztráció</button>
            <button class="btn btn-primary btn-lg mr-2" (click)="loginToggle()">Bejelentkezés</button>
        </div>
    </div>
</div>