.profile-picture-div {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    /*background-color: rgba(184, 153, 153, 0.822);*/
}

.profile-picture-img {
    height: 300px;
    width: 300px;
}

.profile-description {
    text-align: center;
    vertical-align: bottom;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    /*background-color: rgba(184, 153, 153, 0.822);*/
}

.profile-interests {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 15px;
    /*background-color: rgba(184, 153, 153, 0.822);*/
}

.pink {
    background-color: rgba(227, 109, 172, 0.875);
}

.red {
    background-color: red;
}