<!-- Modal -->
<div class="modal fade" [id]="profile.firstname + '-' + profile.userID" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{profile.firstname}} {{profile.lastname}} ({{profile.birthDate }}) </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm profile-picture-div">
                        <img class="profile-picture-img" src="../../../../assets/img/{{profile.imagePath}}">
                    </div>
                    <div class="col-sm profile-description">
                        {{profile.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm profile-interests">
                        {{profile.interests}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-danger" (click)="onSubmit()" 
            [ngClass]="findMatch() ? 'red' : 'pink'">
                <i class="fas fa-heart"></i>
            </button>
        </div>
      </div>
    </div>
  </div>