<div class="card shadow-lg p-3 mb-5 rounded  position-absolute top-50 start-50 translate-middle">
  <div class="card-header bg-transparent">
      <h1 class="text-center">Bejelentkezés </h1>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="card-body">

          <div class="form-group mt-3">

              <input type="text" formControlName="username" id="username" placeholder="Ide írja a felhasználónevét"
                  class="form-control border-0 border-bottom shadow-none">
          </div>

          <div class="form-group mt-3">

              <input type="password" formControlName="password" id="password" placeholder="Ide írja a jelszavát"
                  class="form-control border-0 border-bottom shadow-none">
          </div>

          <div class="text-danger" *ngIf="loginForm.get('username')?.errors?.incorrect">
              A felhasználónév vagy jelszó helytelen!
          </div>
      </div>

      <div class="card-footer">
          <div class="text-center mt-3">
              <button type="submit">Bejelentkezes</button>
          </div>

          <p class="text-center mt-2">

              <a [routerLink]="'../registration'"> Regisztráció</a>
          </p>
      </div>
  </form>
</div>