/* inputok szélessége */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* Gombok */
  button {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
  }
  
 /* card középen*/
  .card{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  /* szélesség */
  .width{
    width: 500px;
  }